@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');
*{
  font-family: 'Zen Maru Gothic', sans-serif;
letter-spacing:5px;}
body{
margin:0px;
padding:0px;
background:#fff url("https://github.com/2021Hackthon/icon/blob/gh-pages/bg.png?raw=true") center center fixed no-repeat;
background-size: cover;ã€€
}  
h1{
  text-align:center;
}
.title{
  position:relative;
  text-align:center;
  font-size:8rem
}
.con{
  color-background:black;
  padding:5rem;
}
#plus{
  font-size:10rem;
}

.quiz{
  font-size:28px;
}
.subbnt{
  font-size:20px;
}

.navbar {
  font-size: 22px;
}
.iconname {
  position: relative;
  font-size: 30px;
  top: 5px;
}

.container {
  position:relative;
  padding-top:90px;
}
.select{
  padding-top:110px;
}

.texttitle{
  position:relative;
  text-align:center;
}



.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loader {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  position: relative;

  border: 5px solid none;
  border-radius: 50%;
  border-bottom: 5px solid green;

  animation: loader 1s infinite linear;
  animation-duration: 1s;
}

.word {
  position: absolute;
  vertical-align: top;
  display: inline-block;
  color: #fff;
  font-size: 24px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 40px */
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}
 
 
/* 56px */
.toTop-arrow {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 50%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 31px;
	height: 7px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}
.toTop-arrow:focus {outline: none;}
.select{
  size:24px;
}
h4{
  text-align:center;
}
h3{
  text-align:center;
}